@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../imgage/2.png);
    background-color: #000E20;
    backdrop-filter: blur(1.1vw);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
  }
  
  /* Style de la  navbar */
  nav {
    display: flex;
    align-items: center;
    padding: 1vw;
    color: #fff;
   
  }
  
  /* Style du  logo texte */
  .logo a {
    font-size: 1.5vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Handjet', cursive;
    text-transform: uppercase;
    cursor: pointer;
  }

  .logo span {
    font-size: 1.5vw;
    font-weight: bold;
    color: #e50f0f;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Handjet', cursive;
  }
  
  .texte h1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-family: 'Handjet', cursive;
    font-size: 5vw;
    text-transform: uppercase;
  }
  .texte2 p{
    display: flex;
    justify-content: center;
    color: #0ce622;
    font-family: 'Handjet', cursive;
    font-size: 1.3vw;
    font-weight: bold;
    
   
  }

.section1 img{
    display: flex;
    width: 10vw;
    height: auto;
    border-radius: 15px;
    float: left;
 
}

.section1 li{
    display: flex;
    color: #fff;
    font-family: 'Handjet', cursive;
    font-size: 1.3vw;
    justify-content: center;
    text-align: center;
    font-weight: bold;
   
   
   
     
}

.section1 p{
    display: flex;
    color: #2BE71B;
    font-family: 'Handjet', cursive;
    font-size: 1.3vw;
    font-weight: bold;
    padding: 1vw;
   
    
    
}

.section2 li{
    display: flex;
    color: #fff;
    font-family: 'Handjet', cursive;
    font-size: 1.3vw;
    justify-content: center;
    text-align: center;
    font-weight: bold;
   
   
   
     
}

.section2 p{
    display: flex;
    color: #2BE71B;
    font-family: 'Handjet', cursive;
    font-size: 1.3vw;
    font-weight: bold;
    padding: 1vw;
   
    
    
}

.line{
  display: block;
    color: #0FDE24;
  height: 10px;
  margin-left: 10%;
    width: 80%;
}

@media only screen and (max-width: 600px) {
  .logo a {
    font-size: 6vw;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Handjet', cursive;
    text-transform: uppercase;
    cursor: pointer;
  }

  .logo span {
    font-size: 6vw;
    font-weight: bold;
    color: #e50f0f;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Handjet', cursive;
  }
  
  .texte h1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-family: 'Handjet', cursive;
    font-size: 6vw;
    text-transform: uppercase;
  }
  .texte2 p{
    display: flex;
    justify-content: center;
    color: #0ce622;
    font-family: 'Handjet', cursive;
    font-size: 5vw;
    font-weight: bold;
   text-align: center;
    
   
  }

  .section1  {
    display: flex;
    flex-direction: column;
 
  }
.section1 img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  border-radius: 15px;

}

.section1 li{
  display: inline-block;
  flex-direction: column;
  color: #fff;
  font-family: 'Handjet', cursive;
  font-size: 5vw;
  text-align: center;
  font-weight: bold;
 
 
 
}

.section1 p{
  display: inline-block;
  flex-direction: column;
  color: #2BE71B;
  font-family: 'Handjet', cursive;
  font-size: 6vw;
  font-weight: bold;
  text-align: center;

 
  
  
}
}
